<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <title>Data Users</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
  </head>
  <body>
    <table class="table">
  <thead>
    <tr>
      <th scope="col">id</th>
      <th scope="col">username</th>
      <th scope="col">password</th>
      <th scope="col">email</th>
      <th scope="col">alamat</th>
      <th scope="col">no_telp</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>admin</td>
      <td>12345</td>
      <td>admin@xyz.com</td>
      <td>Jl. Mawar No 53 </td>
      <td>0811223445</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>johndoe</td>
      <td>12345</td>
      <td>john@doe.com</td>
      <td>Jl.Berimbun No 1</td>
      <td>0823556370</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>jane</td>
      <td>12345</td>
      <td>jane@doe.com</td>
      <td>Jl.Sederhana No 09</td>
      <td>0832111567</td>
    </tr>
  </tbody>
</table>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
  </body>
</html>